@font-face {
  font-family: "iconfont"; /* Project id 4797417 */
  src: url('iconfont.woff2?t=1740133562932') format('woff2'),
       url('iconfont.woff?t=1740133562932') format('woff'),
       url('iconfont.ttf?t=1740133562932') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yushouhuore:before {
  content: "\e662";
}

.icon-chanpinyuyue:before {
  content: "\e692";
}

.icon-duigou:before {
  content: "\e605";
}

.icon-chanpinzixun:before {
  content: "\e6f1";
}

.icon-chanpinguanli:before {
  content: "\e72e";
}

.icon-scan-barcode:before {
  content: "\e87a";
}

.icon-ui-checks-grid:before {
  content: "\e62c";
}

.icon-a-Bulk_Scan-Barcode:before {
  content: "\e7f8";
}

